body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 92%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;

}
button:hover {
    transform: scale(110%);
}
#info {
    display: flex;
    gap: 200px;
    /* border: 1px solid black; */
    /* border-radius: 8px; */
    margin-top: 30px;
    /* margin-top: 50px; */
}

.wrapper {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: flow-root;
}
/* .infoWrapper:nth-child(1) {
background-color: aqua;
} */

.infoWrapper {

}
.info-one {
    width: 200px; 
    height: 80px;
    border: 1px solid black;
    border-radius: 8px;
    align-items: center;
    display: grid;
    text-align: center;
}
.info-tue {
    width: 200px; 
    height: 80px;
    border: 1px solid black;
    border-radius: 8px;
    align-items: center;
    display: grid;
    text-align: center;
}
.info-three {
    width: 200px; 
    height: 80px;
    border: 1px solid black;
    border-radius: 8px;
    align-items: center;
    display: grid;
    text-align: center;
}